<!DOCTYPE html>
<html lang="en">

<head>
    <style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 15px;
		}
	</style>
    <meta charset="ISO-8859-1">
    </meta>
    <title>Ticket Booking System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </link>
</head>

<body>
<div class="container">
    <h1>Tickets</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>EventId</th>
            <th>UserId</th>
            <th>Category</th>
            <th>Place</th>
        </tr>
        <tr>
            <td>37</td>
            <td>1</td>
            <td>4</td>
            <td>PREMIUM</td>
            <td>1</td>
        </tr>
        <tr>
            <td>38</td>
            <td>1</td>
            <td>5</td>
            <td>PREMIUM</td>
            <td>2</td>
        </tr>
        <tr>
            <td>39</td>
            <td>1</td>
            <td>6</td>
            <td>PREMIUM</td>
            <td>3</td>
        </tr>
    </table>
</div>
</body>

</html>